@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Merriweather:wght@700&display=swap');

:root {
    font-size: 62.5%;
    background-color: aqua;
    font-family: Bitter, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: Merriweather, sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: Bitter, sans-serif;
    font-size: 1.5rem;
}

.game-area-outer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading {
    margin-bottom: 5rem;
}
.game-area {
    
    height: 60rem;
    width: 70rem;
    max-width: 80rem;
    border-radius: 1.5rem;
    /* justify-content: center; */
    /* align-items: center;  */
    padding-top: 3rem;
    text-align: center;
    background-color: brown;
   

}

.question-area {
   
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    border:0.5rem solid black;
    background-color: greenyellow;
    max-width: 80%;
    margin: auto;
}

.answer-area {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    margin-top: 5rem;

}

.score-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    margin: 1rem;
    padding: 1.5rem;
    background-color: beige;
    border: 0.3rem solid black;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn:hover{
background-color:aquamarine;
}